.home{
    border: 1px solid yellowgreen;
    width: 80%;
    height: 100%;
    overflow-y: auto;
    padding-bottom: 100px;
    min-width: 310px;
    background-color: #fff;
}

.home h2{
    /* border: 1px solid red; */
    text-align: center;
    font-size: xx-large;
    text-decoration: underline;
}

.home h2 span{
    color: rgb(112, 112, 112);
}


.home .my-image img{
    display: block;
    margin: auto;
    border-radius: 14px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.home .my-details{
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
    
}

.home .my-details h4{
    /* border: 1px solid red; */
    border-right: 2px solid grey;
    margin: 0 2px ;
    padding: 2px 5px 2px 20px;
    font-size: larger;
}

.home .my-details h4 span{
    color: rgb(118, 118, 118);
}

.home .about {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.home .about h3{
    /* border: 1px solid red; */
    font-size: 1.7rem;
    margin: 30px 10px 0;
    text-align: center;
    text-decoration: underline;
}

.home .about p{
    padding: 10px;
    text-align: justify;
}

.home .projects p{
    text-align: center;
}

.home .projects div{
    /* border: 1px solid yellow; */
    margin: 15px 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.home .projects div h3{
    margin: 0;
    margin-left: 10px;
}

.home .projects div h3 a{
    color: #000;
    text-decoration: none;
}

.home .projects div h3 a:hover{
    color: blue;
    text-decoration: underline;
}

.home .projects div p{
    margin: 0;
    text-align: justify;
    padding: 10px;
}


.home .media-links{
    /* border: 1px solid rebeccapurple; */
    padding: 10px;
}

.home .media-links{
    display: flex;
    justify-content: center;
}

.home .media-links a{
    font-size: xx-large;
    margin: 0 3px;
}

.home .projects h2{
    text-decoration: underline;
}

.home .blank{
    height: 50px;
}



@media only screen and (max-width:820px){
    .home{
        width: 100%;
        min-width: 310px;
    }
    
  }
@media only screen and (max-width:327px){
    .home .my-details h4{
        border: none;
    }
    
  }